# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android
**/android/local.properties
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/app/debug.keystore
**/android/app/release.keystore

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Misc
pubspec.lock
